* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.box-load {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.pre {
    width: 60px;
    height: 60px;
    border: rgba(0, 0, 0, 0.18) solid;
    border-left-color: #e20202;
    border-radius: 50%;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

.content {
    display: none;
    margin-top: 5%;
}

header {
    position: fixed;
    padding: 0.5rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container h1 {
    margin: 0;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container nav ul li {
    margin-left: 20px;
}


.link ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #fff;
    padding: 10px 15px;
    display: block;
    font-weight: 600;
}

.link ul li a:hover {
    color: red;
    transition: 150ms linear;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 10%;
    margin-right: 45%;
}

#searchBar {
    border: 1px solid;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    flex: 1;
    max-width: 300px;
    margin-left: 20px;
}

#carBrandList {
    display: none;
    width: 42%;
    margin-left: 57%;
}

ul.search-bar {
    display: none;
    position: absolute;
    top: 100%;
    max-height: 200px;
    overflow-y: auto;

}

ul.search-bar li {
    background-color: #fff;
}

ul.search-bar li a {
    text-decoration: none;
    color: #000;
    display: block;
    background-color: #fff;
    padding: 0.7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

ul.search-bar li a:hover {
    transition: 150ms linear;
    color: red;
}

.marcas-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.marcas-container a {
    color: black;
    text-decoration: none;
}

.marcas-container2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}

.comeback {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #fff;
    padding: 10px 15px;
    display: block;
    font-weight: 600;
}

.comeback:hover {
    transition: 150ms linear;
    color: red;
}

.features h2 {
    text-align: center;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

.marca-item {
    background-color: #00000028;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: -2.3%;
}

.marca-item:hover {
    transition: 150ms linear;
    background-color: #00000050;
}

.celta {
    width: 90%;
}

.s10 {
    width: 90%     ;
}

.vectra {
    width: 90%;
}

.tracker {
    width: 80%;
}

.spin {
    width: 80%;
}

.montana {
    width: 80%;
}

.onix {
    width: 80%;
}

.corsa {
    width: 80%;
}

.gol {
    width: 80%;
}

.polo {
    width: 80%;
}

.nivus {
    width: 80%;
}

.t-cross {
    width: 80%;
}

.taos {
    width: 80%;
}

.virtus {
    width: 80%;
}

.argo {
    width: 80%;
}

.cronos {
    width: 80%;
}

.mobi {
    width: 80%;
}

.palio {
    width: 55%;
}

.pulse {
    width: 75%;
}

.strada {
    width: 55%;
}

.toro {
    width: 130%;
}

.uno {
    width: 90%;
}

.corolla-image {
    width: 80%;
}

.rav4-image {
    width: 80%;
}

.camry-image{
    width: 80%;
}

.yaris-image {
    width: 90%;
}

.sw4-image {
    width: 90%;
}

.hilux-image {
    width: 90%;
}

.hb20-image {
    width: 110%;
}

.creta-image {
    width: 80%;
}

.tucson-image {
    width: 80%;
}

.hb20s-image {
    width: 80%;
}

.i30-image {
    width: 85%;
}

.veloster-image {
    width: 110%;
}

.sentra-image {
    width: 110%;
}

.frontier-image {
    width: 80%;
}

.versa-image {
    width: 80%;
}

.kicks-image {
    width: 90%;
}

.titan-image {
    width: 110%;
}

.livina-image {
    width: 100%;
}

.ka-image {
    width: 80%;
}

.ranger-image {
    width: 80%;
}

.fusion-image {
    width: 80%;
}

.fiesta-image {
    width: 80%;
}

.ecosport-image {
    width: 80%;
}

.fox-image {
    width: 80%;
}

.hrv-image {
    width: 80%;
}

.city-image {
    width: 80%;
}

.civic-image {
    width: 80%;
}

.accord-image {
    width: 80%;
}

.zrv-image {
    width: 80%;
}

.crv-image {
    width: 80%;
}

.kwid-image {
    width: 80%;
}

.kardian-image {
    width: 80%;
}

.logan-image {
    width: 80%;
}

.sandero-image {
    width: 80%;
}

.duster-image {
    width: 80%;
}

footer {
    background-color: #00000014;
    color: #000000;
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;
}

footer a {
    font-size: large;
    background-color: #ffffff14;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    color: red;
    transition: 150ms linear;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    border-radius: 5px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover a {
    border-radius: 5px;
    color: #000000;
    background-color: #ddd;
}

.dropdown-content a:hover {
    background-color: #000000;
    color: #ddd;
}